html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-wrap{
	width: 100%;
	height: 100%;
	padding-top: 10px;
	background-color: #fff;
	/* overflow: scroll; */
}
.main-wrap .question .question-title{
	font-weight: 600;
    text-align: center;
    color: #383838;   
}
.main-wrap .meta{
	margin: 5px 0;
	text-align: center;
	height: 31px;
}
.main-wrap .meta a{
	line-height: 31px;
}
.main-wrap .meta span{
	vertical-align: top;
	line-height: 31px;
}
.main-wrap .content p{
	line-height: 25px;
	text-indent: 2em;
	font-size: 14px;
}
.main-wrap .content p img{
	width: 100%;
	display: block;
	background-position: center;
}
.main-wrap .content section span{
	/* float: left; */
}

.headline-title{
	text-align: center;
}